![alt text](../../pythonexposed-high-resolution-logo-black.jpg "Optionele titel")

### Tuples

Tuples zijn onveranderlijke lijsten (we kunnen geen elementen aan de collectie toevoegen, verwijderen of vervangen). We kunnen tuples ook als gegevensstructuren beschouwen.

We kunnen literals gebruiken om tuples te maken, door middel van ronde haken `()`

In [2]:
t = (1, 2, 3)

Aangezien tuples `sequence`-typen zijn, kunnen we elementen via een index benaderen, net zoals bij lijsten, inclusief negatieve indices:

In [3]:
t[0]

1

In [4]:
t[1]

2

In [5]:
t[-1]

3

We kunnen ook de `len()` functie gebruiken om de lengte van de sequentie te bepalen:

In [6]:
len(t)

3

En we kunnen daarom ook `len` gebruiken om het laatste element van een tuple te verkrijgen (evenals negatieve indexering):

In [6]:
t = (1, 2, 3)
t[len(t) - 1]

3

In [7]:
t = (1, 2, 3, 4, 5)
t[len(t) - 1]

5

Het belangrijkste verschil met lijsten, is dat tuples onveranderlijk zijn.

Dit betekent dat de **container** onveranderlijk is - dus we kunnen elementen niet toevoegen, verwijderen of vervangen in een tuple:

In [7]:
t = (1, 2, 30)

In [8]:
t[2]

30

In [9]:
t[2] = 3

TypeError: 'tuple' object does not support item assignment

Dit betekent echter niet dat de **elementen** van de tuple noodzakelijkerwijs ook onveranderlijk zijn - tuples kunnen, net als lijsten, elk object bevatten, inclusief veranderlijke objecten.

In [11]:
t = ([1, 2], [3, 4])

Zoals we kunnen zien, hebben we een tuple met daarin twee lists:

In [12]:
t[0]

[1, 2]

In [13]:
t[1]

[3, 4]

Hoewel de tuple onveranderlijk is:

In [14]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

zijn de elementen, zijnde lijsten, wel veranderlijk:

In [15]:
t[0]

[1, 2]

In [16]:
t[0][1] = 20

In [17]:
t[0]

[1, 20]

In [18]:
t

([1, 20], [3, 4])

Zoals je kunt zien hebben we het tweede element van het eerste element van de tuple vervangen.
Dus opgepast: het is niet omdat een tuple op zich immutable is, dat dit ook voor de elementen ervan geldt.

We hoeven niet altijd `()` te gebruiken om tuples te definiÃ«ren - Python herkent de door komma's gescheiden waarden en maakt automatisch een tuple aan:

In [19]:
t = 1, 2

In [20]:
type(t)

tuple

In [21]:
t

(1, 2)

Dus dit is precies hetzelfde als het schrijven:

In [22]:
t = (1, 2)

Eigenlijk is dit waarom we dit kunnen gebruiken in de Python-console om meerdere waarden af te drukken:

In [23]:
a = 10
b = 20

a, b, a+b

(10, 20, 30)

Je zult merken dat we drie waarden afgedrukt zien - eigenlijk hebben we een tuple gemaakt met `a`, `b` en `a + b` en Jupyter heeft de tuple afgedrukt.
We konden dit ook op deze manier schrijven:

In [10]:
a = 10
b = 20
t = a, b, a + b
print(t)

(10, 20, 30)

We kunnen ook lege tuples maken:

In [11]:
t = ()

In [12]:
type(t), len(t)

(tuple, 0)

We kunnen ook de `tuple()`-functie gebruiken:

In [27]:
t = tuple()

In [28]:
type(t), len(t)

(tuple, 0)

Maar aangezien we de tuple niet kunnen muteren, is dit over het algemeen niet extreem handig.

Tuples zijn echter buitengewoon handig, en worden ook gebruikt om meerdere waardes vanuit een functie terug te geven zoals we reeds hebben gezien.

Interessant aan de `tuple()` functie is dat we deze met elke willekeurige sequentie kunnen aanroepen, en dat deze functie vervolgens elk element van die sequentie zal nemen en een tuple zal creÃ«ren met dezelfde elementen:

In [14]:
l = ['a','b','c','d']

In [15]:
type(l)

list

In [16]:
t = tuple(l)

In [17]:
t

('a', 'b', 'c', 'd')

In [18]:
type(t)

tuple

We kunnen ook de `list()` functie op dezelfde manier gebruiken:

In [19]:
t = ('x', 'y', 'z')

In [20]:
l = list(t)

In [21]:
l

['x', 'y', 'z']

In [22]:
type(l)

list

Dit kan interessant zijn wanneer we te maken hebben een tuple die we willen muteren.  Op zich kunnen we dit niet, maar we kunnen de conversie naar een list doen en vervolgens deze list muteren:

In [23]:
t = 10, 20, 3, 40

In [24]:
l = list(t)

In [25]:
l

[10, 20, 3, 40]

In [26]:
l[2] = 30

In [27]:
l

[10, 20, 30, 40]

En als we echt willen, kunnen we deze list opnieuw omzetten naar een tuple en toewijzen aan het symbool `t`:

In [43]:
t = tuple(l)

In [44]:
t

(10, 20, 30, 40)

Wanneer we deze `list` en `tuple` functies gebruiken, is het erg belangrijk om te begrijpen dat hoewel er een nieuw tuple- of list-object wordt aangemaakt, de referenties binnen die sequenties worden gedeeld.

Laten we een eenvoudig voorbeeld bekijken om dit te illustreren:

In [28]:
t = ([1, 2], 20, 30)

Dus `t[0]` is een lijst, een veranderlijke sequentie:

In [29]:
t[0], type(t[0])

([1, 2], list)

Laten we nu een lijst maken met dezelfde elementen:

In [47]:
l = list(t)

In [48]:
l

[[1, 2], 20, 30]

Zoals we kunnen zien is het eerste element van `l` diezelfde lijst `[1, 2]`:

In [49]:
l[0], type(l)

([1, 2], list)

Maar in feite is dit eerste object in de lijst `l` het **zelfde** object als het eerste object in de tuple `t`:

In [50]:
t[0] is l[0]

True

Dit betekent dat als we die lijst wijzigen, de verandering "zichtbaar zal zijn" in zowel de lijst als de tuple:

In [51]:
l[0][0] = 100

In [52]:
l

[[100, 2], 20, 30]

In [53]:
t

([100, 2], 20, 30)